.container{
    position: absolute;
    top:55px;
    left:-13px;
}
.carousel {
    width: 1880px; 
    height: 600px;
}
.bilshe{
    width: 200px;
    height: 50px;
    background-color: gray;
   
    position: absolute;
}